*{
    margin:0;
    box-sizing: border-box;
}
/* Header */
.header{
    display: flex;
    position: sticky;
    top:0px;
    justify-content: center;
    /* position: relative; */
    height: 110px;
    z-index: 10;
    background-color: #fff;
    overflow: hidden;
}
/* Logo */
.logo-img{
    position: absolute;
    left: 5px;
    height: 100px;
    min-width: 160px;
    max-width: 20%;
    margin-left: 5px;
    margin-top: 5px;
}
.main-logo{
    display: block;
    position: absolute;
    
}/* /logo */
/* Menu */
.main-menu-row{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-menu-row a{
    text-decoration: none;
    color: #D1A954;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    /* position: absolute; */
    /* display: block; */
    /* display: inline-block; */
    /* width: auto; */
}/* /menu  */
/* Burger menu */
.ext-menu{
    position: absolute;
    /* justify-content: right; */
    right: 5px;
    
    /* align-items: center; */
    width: 30px;
    height: inherit;
    border: inherit;
    
    /* height: 2px; */
}
.ext-menu a{
    /* display: block; */
    height: 1px;
    width: 25px;
    top:  50%;
    /* margin: 5px; */
    border: 1px solid #D1A954;
    position: absolute;
}
.ext-menu a::before{
    
    top: 5px;
    border: 1px solid #D1A954;
    
}/* /burger menu */
/* Gallery */
.gallery{
    display: flexbox;
    justify-content: stretch;
    position: relative;
    padding-top: 50px;
    height: 200px;
}
.gallery img{
    position: absolute;
    margin: 10px;
    max-width: 250px;
    height: auto;
}
.desc{
    position: absolute;
    border: 1px solid;
}
p{
    width: 100px;
}