a{
    text-decoration: none;
    color: #D1A954;
    font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;
/* identical to box height */
text-align: center;
letter-spacing: 0.05em;
text-transform: uppercase;

}
ul.menu-row1{
     overflow: hidden; 
     list-style-type: none;
}
li {
    float: left;
}
/* logo */
img.main-logo{
position: relative;
width: 160px;
height: 87px;
}
/* main-menu */
ul.main-menu-row2{
/* overflow: hidden; */ 
list-style-type: none;
position: relative;
/* float: left; */
/* padding: 15px; */

}
ul.main-menu-row2 li{
    float: left;
    margin: 5px;
}
.head-row1{
    list-style-type: none;
    overflow: hidden;
}
.head-row1 li{
    padding-top: 1.5em;
    float: left;
}
.main-menu-box{
    padding: 5px;
    border: 1px #D1A954 solid;
}

p{
    padding: 12px;
    position: relative;
    left: 70px;

}

